body
{
	text-align: center;
}

#wrapper
{
	width: 650px;
	margin: auto;
	padding: 0px 0px 0px 0px;
	text-align: left;
	background-color: white;
	
}

#logo img
{
	width: 200px;
	padding-left: 225px;
}

#nav
{
	font-size: 15px;
	font-family: sans-serif, Times;
}

#nav a:link
{
	color: black;
	text-decoration: none;
}

#nav a:visited
{
	color: black;
	text-decoration: none;
}

#nav a:hover
{
	color: #849694;
	text-decoration: none;
}

#nav a:active
{
	color: #849694;
	text-decoration: none;
}

#navholder #nav li
{
	padding-left: 0px;
	list-style-type: none;
	display: inline;
	padding-right: 10px;
}

#main
{
	font-family: sans-serif, Times;
}

#leftcol
{
	margin-top: 20px;
	float: left;
	width: 300px;
	font-family: sans-serif, Times;
}

#rightcol
{
	margin-top: 20px;
	float: right;
	width: 300px;
	font-family: sans-serif, Times;
}

#rightcol img
{
	height: 200px;
	width: 300px;
	border: 2px solid black;
}

#leftcol img
{
	height: 200px;
	width: 300px;
	border: 2px solid black;
}

#trademark
{
	text-align: center;
	font-family: verdana, sans-serif;
	font-size: 10px;
	padding-top: 240px;
}